<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <title>My logins | WassPord</title>
</head>

<body>

    <div class="container" style="display: none;">
        <h1>Edit login</h1>
        <form id="regform" data-loginid="">
            <input class="gen-text non-table" type="text" id="service" required>
            <input class="gen-text non-table" type="text" id="username" required>
            <input class="gen-text non-table" type="password" name="pwname" id="pw" required>
            <button class="btn non-table" id="generate" data-n="0" type="button">GENERATE PASSWORD</button>
            <button class="btn non-table" id="toggle" data-n="0" type="button">SHOW PASSWORD</button>
            <button class="btn non-table" id="save-btn0" data-n="0" type="submit">UPDATE LOGIN</button>
            <button class="btn non-table" id="cancel" data-n="0" type="button">CANCEL</button>
        </form>
    </div>

    <div class="og">
        <h1>Login Data</h1>
        <input type="text" class="non-table" id="searchInput" onkeyup="searchFunction()" placeholder="Search for services...">

    <div class="btncontainer">
        <button class="non-table btn small-btn" id="add-btn">ADD NEW LOGIN</button>
        <button class="non-table btn small-btn" id="back-btn" >BACK</button>
        <input type="file" id="csvFileInput" style="display: none;">
        <button class="non-table btn small-btn" id="import">Import CSV</button>
    </div>
    <div class="table-container">
        <table id="loginTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Service</th>
                    <th onclick="sortTable(1)">Username / Email</th>
                    <th onclick="sortTable(2)">Password</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                <% ejsdata.forEach(function(item) { %>
                    <tr>
                        <td class="openable serviceinfo"><%=item.service%></td>
                        <td class="copiable userinfo" data-realvalue="<%=item.username%>"><%=item.username%></td>
                        <td>
                            <div class="pageElement">
                                <div class="copiable pwinfo" data-realvalue="<%=item.password%>">**********</div>
                                <div><img class="show" data-hidden="true" src="img/show.png" alt="show / hide" width="18" height="18"></div>
                            </div>
                        </td>
                        <td class="btnholder">
                            <button class="edit-btn modify btn small-btn" type="button" data-num="<%=item.LoginID%>">✏️</button>
                            <button class="del-btn modify btn small-btn" type="button" data-num="<%=item.LoginID%>">🗑️</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    </div>

    <script>

    $('#import').on('click', function() {
            $('#csvFileInput').trigger('click');
        });

        $('#csvFileInput').on('change', function(e) {
            var file = e.target.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                var data = e.target.result;
                processData(data);
            };
            reader.readAsText(file);
        });

        function processData(data) {
            var dataArray = [];
            var lines = data.split('\n');
            lines.forEach(function(line) {
                var elements = line.split(',');
                var service = elements[6].trim(); // url
                var username = elements[0].trim();
                var password = elements[4].trim();
                dataArray.push({
                    service: service,
                    username: username,
                    password: password
                });
            });

            // Now you can use the dataArray for further processing
            console.log(dataArray)
            for(var data of dataArray){
                $.ajax({
                type: "POST",
                url: "/add_new_login",
                async: true,
                data: {
                    'service': data.service,
                    'username': data.username,
                    'password': data.password
                },
                success: function(data, status, xhr) {
                    //alert(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    //location.href = "/logins"
                },
                error: function(xhr, status, error) {
                    alert(`Error: ${xhr.responseText}`)
                    console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                }
            })
            }
            location.href = "/logins"
        }

        $("#regform").submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();
            const username = $('#username').val()
            const pw = $('#pw').val()
            const service = $('#service').val()
            const loginid = $(this).attr('data-loginid')

            $.ajax({
                type: "POST",
                url: "/edit_exs_login",
                data: {
                    'LoginID': loginid,
                    'service': service,
                    'username': username,
                    'password': pw
                },
                success: function(data, status, xhr) {
                    //alert(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    location.reload()
                },
                error: function(xhr, status, error) {
                    alert(`Error: ${xhr.responseText}`)
                    console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                }
            })
        })

        function pwToggle() {
            var x = document.getElementById("pw");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        $('.show').on("click", function(e) {
            var hidden = $(this).attr('data-hidden')
            if (hidden == "true") {
                var parent = $(this).closest('.pageElement')
                var passwordDiv = parent.find('[data-realvalue]')
                var password = passwordDiv.attr('data-realvalue')
                passwordDiv.text(password)
                $(this).attr('data-hidden', 'false')
            } else {
                var parent = $(this).closest('.pageElement')
                var passwordDiv = parent.find('[data-realvalue]')
                var password = passwordDiv.attr('data-realvalue')
                passwordDiv.text('**********')
                $(this).attr('data-hidden', 'true')
            }

        })

        $('#add-btn').on('click', function(e){
            location.href = '/add/login'
        })

        $('#back-btn').on('click', function(e){
            location.href = '/'
        })

        $('#toggle').on("click", function(e) {
            pwToggle()
            if ($(this).text() == "SHOW PASSWORD") {
                $(this).text("HIDE PASSWORD")
            } else {
                $(this).text("SHOW PASSWORD")
            }
        })

        $('.copiable').on("click", function(e) {
            toClipboard($(this))
        })

        $('#generate').on("click", function(e) {
            $('#pw').val(generateRandomPassword(12))
        })

        $('.del-btn').on("click", function(e) {
            if (confirm("Are you sure you want to delete this record?", "YES", "NO")) {
                const delnum = $(this).attr('data-num')
                const el = $(this)
                $.ajax({
                    type: "POST",
                    url: "/delete_login",
                    data: {
                        'LoginID': delnum
                    },
                    success: function(data, status, xhr) {
                        //alert(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                        el.parent().parent().remove()
                    },
                    error: function(xhr, status, error) {
                        alert(`Error: ${xhr.responseText}`)
                        console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    }
                })
            }
        })

        $('#cancel').on("click", function(e) {
            $('.og').css('display', 'flex')
            $('.container').css('display', 'none')
            $('body').css('display', 'flex')
                /*
                    const delnum = $(this).attr('data-num')
                    const el = $(this)
                    $.ajax({
                    type: "POST",
                    url: "/delete_login",
                    data: {
                        'LoginID': delnum
                    },
                    success: function(data, status, xhr) {
                        //alert(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                        el.parent().parent().remove()
                    },
                    error: function(xhr, status, error) {
                        alert(`Error: ${xhr.responseText}`)
                        console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    }
                })
                */
        })

        $('.edit-btn').on("click", function(e) {
            const serv = $(this).parent().parent().find('.serviceinfo').text()
            const usr = $(this).parent().parent().find('.userinfo').text()
            const pw = $(this).parent().parent().find('.pwinfo').attr('data-realvalue')

            $('#service').val(serv)
            $('#username').val(usr)
            $('#pw').val(pw)
            $('#regform').attr('data-loginid', $(this).attr('data-num'))

            $('body').css('display', 'flex')
            $('.og').css('display', 'none')
            $('.container').css('display', 'flex')
                /*
                    const delnum = $(this).attr('data-num')
                    const el = $(this)
                    $.ajax({
                    type: "POST",
                    url: "/delete_login",
                    data: {
                        'LoginID': delnum
                    },
                    success: function(data, status, xhr) {
                        //alert(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                        el.parent().parent().remove()
                    },
                    error: function(xhr, status, error) {
                        alert(`Error: ${xhr.responseText}`)
                        console.log(`response status code: ${xhr.status} | response text: ${xhr.responseText}`)
                    }
                })
                */
        })

        $('.openable').on("click", function(e) {
            goToService($(this).text())
        })

        function toClipboard(element) {

            var stringToCopy = element.attr('data-realvalue')

            // Copy the text inside the text field
            navigator.clipboard.writeText(stringToCopy)

            // Alert the copied text
            //alert("Copied to clipboard!")
        }

        function goToService(service) {
            if(service.includes('http')){
                
                var url = `${service}`
                //alert('van http: ' + url)
                //alert(url)
                var win = window.open(url, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }
            }
            else{
                var url = `http://${service}`
                //alert('nincs http: ' + url)
                //alert(url)
                var win = window.open(url, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }
            }

        }

        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("loginTable");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("td")[columnIndex];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("loginTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function generateRandomPassword(length) {
            var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_-+=<>?"

            var password = ""
            for (var i = 0; i < length; i++) {
                var randomIndex = Math.floor(Math.random() * charset.length)
                password += charset[randomIndex]
            }

            return password
        }

    </script>
</body>

</html>